<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>
</head>
<body>
    <h1>Add Patient</h1>

    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Age:</label><br>
        <input type="number" name="age"><br><br>

        <label>Complaint:</label><br>
        <input type="text" name="complaint"><br><br>

        <button type="submit">Add Patient</button>
    </form>

    <br>
    <a href="/">Go back Home</a>
</body>
</html>