<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>
</head>
<body>
    <h1>Register New Patient</h1>
<p>Fill this form to add a patient to the queue.</p>

    <form method="POST">
        <label>Patient Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Patient Age:</label><br>
        <input type="number" name="age"><br><br>

        <label>Patient Complaint:</label><br>
        <input type="text" name="complaint"><br><br>

        <button type="submit">Add Patient</button>
    </form>

    <br>
    <a href="/">Go back Home</a>
</body>
</html>