<!DOCTYPE html>
<html>
<head>
    <title>ClinicQueueApp - Home</title>
</head>
<body>
    <h1>Clinic Queue Management System</h1>
<p>Total patients in queue: {{ total }}</p>
    <a href="/add">Go to Add Patient Page</a>
<br><br>
<a href="/serve">Serve First Patient</a>
    <h2>Patient List</h2>

    {% if patients %}
        <ul>
            {% for patient in patients %}
                <li>{{ patient }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No patients added yet.</p>
    {% endif %}
</body>
</html>